#topicList {
    max-width: 100vw;
    overflow: hidden;
}

#topicList ul {
    padding: 0;
}

#topicList ul li.topicItem {
    padding: 20px 12px 8px 12px;
    margin: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    box-shadow: 0 0 5px 1px #cdcdcd;
    border-radius: 10px;
    min-height: 150px;
}

/**
    题号颜色
 */
#topicList .topicNum {
    font-size: 12px;
    color: #5FA5ED;
}

/*题干*/
#topicList .topicContent {
    color: #333333;
    padding-left: 8px;
    margin-bottom: 10px;
}

/*题干*/
#topicList .topicContent .topicContentImg img {
    max-width: 80vw;
}

/*选项*/
#topicList ul.options {
    padding: 5px 10px 10px 15px;
    color: #999999;

}


#topicList ul.options li {
    margin: 8px;
}

#topicList ul.options li .optionContent {
    display: flex;
}

#topicList ul.options li .optionImg img {
    max-width: 80vw;
    width: 90%;
}

/*-====================【底部】*/

#topicList ul .footer {
    float: right;
}

#topicList ul .footer li {
    margin-left: 15px;
    height: 30px;
    float: left;
}

/*[收藏星星]*/
#topicList ul .footer .start {
    width: 30px;
    height: 30px;
    background: url("../imgs/start-un-collect@2x.png") 0 0 no-repeat;
    background-size: cover;
}


/*相似题*/
#topicList ul .footer .similarTopic {
    padding: 5px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #5FA5ED;
    border-radius: 5px;
    color: #5FA5ED;
}



