
#topicWrap {
    max-width: 100vw;
    overflow: hidden;
}


.topicContentWrap {
    margin: 25px 10px 10px 10px;

}


/*题干*/
.topicContent {
    color: #333333;
    padding: 10px;

}

.topicContentImg img {
    max-width: 80vw;
}

.optionImg {
    max-width: 75vw;
}

/*题目选项*/
.options {
    color: #999999;
    padding-left: 30px;
}

.option {
    margin: 5px;
}

.option .optionContent {
    display: flex;
}

.topicContentWrap, .answerWrap, .analysis-text {
    border-bottom: 2px dashed #ededed;
    padding-bottom: 30px;
}

/*===========================【答案】=================================*/
.answerWrap {
    margin: 25px 10px 10px 10px;
    font-size: 14px;
    color: #666666;
}

.answerWrap p {
    color: #4BA1F9;
}

.answerItem {
    padding: 10px 0 0 30px;
}

.errorAnswer {
    color: red;
}

.greenAnswer {
    color: #53c595;
}

/*===========================【解析区域】=================================*/

/*解析*/
.analysis {
    color: #666;
    font-size: 14px;
}

.knowledge {
    margin: 25px 10px 10px 10px;
}

.knowLedgeItemWrap {
    margin-left: 15px;
}

.knowledgeLabel {
    color: #4BA1F9;
    margin-bottom: 15px;
}

.knowLedgeItem {
    margin-left: 15px;
    padding: 3px 15px;
    min-width: 60px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #4BA1F9;
    color: white;
    font-size: 13px;
    border-radius: 15px;
}

.analysis-content {
    margin: 25px 10px 10px 10px;
}

.analysis-content .parseDiv {
    margin-left: 20px;
}

.analysis-text > p {
    margin-bottom: 10px;
    color: #4BA1F9;
}

.analysis-img {
    max-width: 80vw;
}

.error {
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 50px;
    text-align: center;
    color: #666;
}
